# Servidor y API
fastapi
uvicorn
pydantic
pydantic-settings

# Manejo de Datos
pandas
numpy
binance-connector
pandas-ta

# Inteligencia Artificial (Solo XGBoost)
xgboost
scikit-learn
joblib

# Utilidades
python-dotenv
requests
supabase